*{
    margin: 0;
    padding: 0;
}
#semaforo{
    height: 600px;
    width: 300px;
    background-color: yellow;
}

.circulo{
    width: 90%;
    height: 30%;
    background-color: red;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#color1{
    background-color: orange;
}

#color2{
    background-color: green;
}
